<h1>Solve The Puzzle</h1>

<h3>$output</h3>

<h6>Enter the solution in the form below.</h6>

<form action='/answer' method='get'>
  <div class="form-group">
    <label for="puzzleAnswer">Can you solve the puzzle?</label>
    <input id="puzzleAnswer" name="puzzleAnswer" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-danger">Solved it!</button>
</form>
